.Home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pond {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;
}

.Pond li {
  --a: initial;
  margin-left: var(--l);
  margin-right: var(--r);
  margin-top: var(--t);
  transform: rotate(var(--a));
}

%entity {
  position: absolute;
  font-family: sans-serif;
}

.Water {
  @extend %entity;

  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  left: var(--x);
  top: var(--y);
  width: var(--w);
  transform: rotate(var(--a));
  color: #cbe8e7;
  line-height: 1.5rem;
}

.Water > li {
  overflow: hidden;
}

.Bank {
  @extend %entity;

  display: inline-flex;
  flex-direction: column;
  left: var(--x);
  top: var(--y);
  width: var(--w);
  transform: rotate(var(--a));
  color: #d8d69e;
}

.Bank > li {
  overflow: hidden;
}

.Lily {
  @extend %entity;

  color: #65d897;
  font-size: 0.8rem;
  left: var(--x);
  top: var(--y);
}

.Life {
  @extend %entity;

  width: var(--size);
  height: var(--size);
  left: var(--x);
  top: var(--y);
  transform: rotate(var(--a));
  line-height: var(--size);
  cursor: zoom-in;
}

.Protozoa {
  --size: 2.2rem;
  color: #f28afb;
  font-size: 2rem;
}

.Stentor {
  --size: 2.3rem;
  color: #3a72ff;
  font-size: 4rem;
}

.Ameoba {
  --size: 1.8rem;
  color: #f7e377;
  font-size: 2rem;
}

.Daphnia {
  --size: 2.1rem;
  color: #ffcb9c;
  font-size: 2rem;
}