/* -- resets -- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* -- variables -- */
:root {
  /* -- v/colors */
  --yellow: #FEC832;
}

/* -- styles -- */
body {
  height: 100%;
  font-family: "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.2;
  background-image: linear-gradient(0deg, rgba(0, 255, 0, 0.4), rgba(255, 0, 255, 0.2)), url(images/flowers-in-a-rococo-vase-1963.jpg);
  background-attachment: fixed;
}

/* -- Page -- */
.Page {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* -- Game -- */
.Game {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  bottom: 0;
  max-width: 100%;
  min-height: 100%;
  padding: 25px;
}

.Game-section {
  margin-top: 40px;
}

@media screen and (min-width: 620px) {
  .Game {
    max-width: 800px;
    padding: 40px;
  }

  .Game-section {
    margin-top: 69px;
  }
}

/* -- Title -- */
.Title {
  font-size: 2.5em;
  margin-bottom: 169px;
}

.Title-discone {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  font-size: min(29vw, 5.9em);
  line-height: 0.9;
  color: transparent;
  background-image: url(images/sky.png);
  background-size: 100vw 13vh;
  background-clip: text;
  -webkit-background-clip: text;
}

.Title-videogame {
  text-align: right;
}

@media screen and (min-width: 420px) {
  .Title-videogame {
    padding-right: min(10vw, 40px);
  }
}

/* -- Pitch -- */
.Pitch {
  margin-bottom: 169px;
}

.Pitch-title {
  font-family: "MutLetras";
  padding: 10px;
  padding-top: 14px;
  background-color: var(--yellow);
}

.Pitch-body {
  position: relative;
  margin-top: 30px;
}

.Pitch-description {
  position: absolute;
  width: 50%;
  padding: 14px;
  color: white;
  background-color: black;
  font-family: "CMU Typewriter Text";
}

.Pitch-description::after {
  content: "...";
  font-weight: bold;
  position: absolute;
  right: 10px;
  bottom: 8px;
}

.Pitch-background {
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

/* -- pitch/old -- */
.Pitch-body details + details {
  margin-top: 5px;
}

.Pitch-body summary {
  margin-bottom: 5px;
}

.Pitch-body details[open] > p {
  border-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: black;
}

/* -- Trailer -- */
.Trailer-thumb {
  display: block;
  border: 1px solid black;
  min-height: 200px;
}

/* -- Screenshots -- */
.Screenshots {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.Screenshot {
  border: solid black ;
  width: 80%;
  scroll-snap-align: center;
  flex-shrink: 0;
}

/* -- Player -- */
.Player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media screen and (min-width: 620px) {
  .Player {
    max-width: 800px;
  }
}

/* -- character -- */
.Character {
  position: absolute;
  overflow: hidden;
  transform-origin: bottom;
  width: 42px;
  height: 84px;
  bottom: 20px;
  right: 20px;
  background-color: magenta;
  cursor: pointer;
  pointer-events: all;
}

/* -- fonts -- */
@font-face {
  font-family: "CMU Typewriter Text";
  src: url("fonts/CMUTypewriter-BoldItalic.woff2") format("woff2"), url("fonts/CMUTypewriter-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mutletras";
  src: url("fonts/Mutletras-Regular.woff2") format("woff2"), url("fonts/Mutletras-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}