/* -- resets -- */
body {
  margin: 0;
  line-height: 1.2;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

ul[class],
ol[class] {
  list-style: none;
}

/* -- shared -- */
body {
  overflow-y: scroll;
}

/* -- s/links */
a {
  color: #00ffff;
}

a[target] {
  color: #ff0000;
}

a {
  text-decoration-style: dotted;
}

a:hover {
  text-decoration-style: wavy;
}

a.Link--nav:nth-of-type(1) {
  color: #ff00ff;
}

a.Link--nav:nth-of-type(2) {
  color: #00ff00;
}

a.Link--nav:nth-of-type(3) {
  color: #00ffff;
}

@media screen and (max-width: 600px) {
  a.Link--games,
  a.Link--events,
  a.Link--devlog {
    text-decoration-style: dashed;
  }

  a.Link--games:hover,
  a.Link--events:hover,
  a.Link--devlog:hover {
    text-decoration-style: unset;
  }
}

/* -- pages -- */
.Page {
  padding: 40px;
  max-width: 600px;
}

/* -- p/header */
.Header {
  display: flex;
  margin-bottom: 40px;
}

.Header-logo {
  align-self: center;
  height: 84px;
}

.Header-text {
  margin-left: 20px;
}

.Header-title {
  font-size: 3em;
}

.Header-subtitle {
  font-size: 1.2em;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  .Header {
    flex-direction: column;
  }

  .Header-text {
    margin-top: 20px;
    margin-left: initial;
  }

  .Header-title {
    line-height: 1;
  }

  .Header-subtitle {
    margin-top: 15px;
  }
}

/* -- p/section */
.Section + .Section {
  margin-top: 30px;
}

.Section-title {
  font-size: 1.6em;
}

.Section > * + * {
  margin-top: 10px;
}

/* -- p/footer */
.Footer {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px dashed #ff00ff;
}

/* -- home -- */
.Home-hero {
  width: 100%;
  margin-bottom: 40px;
  border-bottom: 5px solid #00ff00;
}

/* -- games -- */
.GameList > * + * {
  margin-top: 20px;
}

.Game-metadata {
  font-size: 0.9em;
}

.Game-body {
  margin-top: 10px;
}

/* -- events -- */
.EventList > * + * {
  margin-top: 20px;
}

.Event-metadata {
  font-size: 0.9em;
}

.Event-image {
  margin: 20px;
  width: 60%;
}

.Event-body {
  margin-top: 10px;
}

/* -- devlog -- */
.LogEntry-body {
  margin-top: 10px;
}

/* -- posts -- */
.Post + .Post {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px dashed #00ff00;
}

.Post-header {
  display: flex;
  flex-direction: column;
}

.Post-name {
  font-size: 1.5em;
  margin-top: 5px;
}

.Post-date {
  font-size: 0.8em;
  text-transform: lowercase;
}

.Post-author {
  font-size: 0.8em;
  text-transform: lowercase;
  text-align: right;
}

.PostBody {
  margin-top: 20px;
}

.PostBody p + p {
  margin-top: 10px;
}
