---
layout: Page.liquid
section: home
title: with pondlife
description: welcome to the pondlife website
---

<article id="pond" class="Pond">
  <section>
    <p class="En Bank" style="top: 11%; left: 42%; width: 14%; transform: rotate(-9deg)">
      <r style="margin-right: 62%;">░░░░░░░░▒░░</r>
      <r style="margin-top: 6%; margin-left: 25%; transform: rotate(3deg);">░░░░░▒▒░░░░░░░░░▓░░░░░</r>
    </p>

    <p class="En Bank" style="top: 28%; left: 23%; transform: rotate(-35deg)">
      <r>░▒▒</r>
    </p>

    <p class="En Bank" style="top: 37%; left: 19%; transform: rotate(-45deg)">
      <r>░▒▒░</r>
    </p>
  </section>

  <section>
    <p class="En Water" style="top: 19%; left: 28%; width: 16%; transform: rotate(-3deg)">
      <r style="margin-left: 10%; margin-right: 55%;">░░░░░░░░░░░▒▒▒▒▒▒▒░░░░</r>
      <r style="margin-left: 0%; margin-right: 0%;">░░░░░░░░░░░░░░░░▒▒▒▒▒░░░░░░▓░░░</r>
      <r style="margin-left: 28%; margin-right: 38%;">░░░░░░░</r>
    </p>

    <p class="En Water" style="top: 32%; left: 44%; width: 24%; transform: rotate(1deg)">
      <r style="margin-left: 30%; margin-right: 2%;">░░░░░░░░░░░░░░░░░░░░░</r>
      <r style="margin-left: 10%; margin-right: 19%;">░░░░░░░░░░░▒▒▒▒▒▒▒░░░░</r>
      <r style="margin-left: 0%; margin-right: 0%;">░░░░░░░░░░░░░░░░▒▒▒▒▒░░░░░░▓░░░</r>
      <r style="margin-left: 20%; margin-right: 57%;">░░░░░░░</r>
    </p>

    <p class="En Water" style="top: 55%; left: 44%; width: 28%; transform: rotate(-1deg)">
      <r style="margin-left: 36%; margin-right: 0%;">░░░░░░░░░▓▓░░░░░░░░░░░░░░░</r>
      <r style="margin-left: 0%; margin-right: 14%;">░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░</r>
    </p>
  </section>

  <section>
    <p class="En Lily" style="top: 32%; left: 35%">▖</p>
    <p class="En Lily" style="top: 45%; left: 69%">▗</p>
    <p class="En Lily" style="top: 63%; left: 43%">▘</p>
    <p class="En Lily" style="top: 50%; left: 30%">▝</p>
    <p class="En Lily" style="top: 45%; left: 45%">▞</p>
    <p class="En Lily" style="top: 28%; left: 50%">▚</p>
  </section>

  <section>
    <p class="En Life Protozoa" style="top: 21%; left: 71%; transform: rotate(8deg);">◬</p>
    <p class="En Life Stentor" style="top: 53%; left: 52.5%">◌</p>
    <p class="En Life Ameoba" style="top: 63%; left: 65.5%; transform: rotate(102deg);">◠</p>
    <p class="En Life Daphnia" style="top: 59%; left: 32%; transform: rotate(21deg);">◈</p>
  </section>
</article>