---
layout: Page.liquid
section: home
title: with pondlife
description: welcome to the pondlife website
---

<article id="pond" class="Pond">
  <div class="Pond-body">
    <section aria-hidden="true">
      <ul class="Bank" style="--x: 37.5%; --y: -0.3%; --w: 21.9%; --a: -9deg;">
        <li style="--r: 62%;">░░░░░░░░▒░░</li>
        <li style="--l: 25%; --t: 6%; --a: 3deg;">░░░░░▒▒░░░░░░░░░▓░░░░░</li>
      </ul>

      <ul class="Bank" style="--x: 57.8%; --y: 19%; --a: -15deg;">
        <li>░░</li>
      </ul>

      <ul class="Bank" style="--x: 81.2%; --y: 31.9%; --w: 2.3rem; --a: 9deg;">
        <li>░░</li>
        <li style="--l: 74%; --t: 15%; --a: 21deg;">░</li>
      </ul>

      <ul class="Bank" style="--x: 84.4%; --y: 52.5%; --w: 5rem; --a: -2deg;">
        <li style="--l: 20%; --a: 7deg;">░░</li>
        <li style="--t: 4%; --r: 25%; --a: 3deg;">░░▒░░</li>
        <li style="--l: 70%; --t: 7%; --a: -45deg;">░</li>
      </ul>

      <ul class="Bank" style="--x: 73.5%; --y: 73.2%; --w: 6%;">
        <li style="--r: 30%; --a: -5deg;">▒░</li>
        <li style="--l: 30%; --t: 10%; --a: 5deg;">░░░</li>
      </ul>

      <ul class="Bank" style="--x: 39.1%; --y: 74.5%; --w: 9.3%;">
        <li style="--a: 5deg; --r: 20%;">░░▓░▒▒░░░░░</li>
        <li style="--l: 90%; --t: 10%; --a: -19deg;">░</li>
      </ul>

      <ul class="Bank" style="--x: 31.2%; --y: 81%; --w: 12.5%;">
        <li style="--a: -2deg;">░░░░░░░░▒░░</li>
      </ul>

      <ul class="Bank" style="--x: 17.2%; --y: 86.2%; --w: 9%; --a: 3deg;">
        <li style="--l: 30%;">░░░░░</li>
        <li style="--r: 15%; --t: 7%;">░▓░▒▒░░</li>
      </ul>

      <ul class="Bank" style="--x: 4.7%; --y: 48.8%; --w: 11%;">
        <li style="--a: -7deg;">░░░░░░░░░░▒▒</li>
      </ul>

      <ul class="Bank" style="--x: 7.8%; --y: 41%;">
        <li style="--a: -2deg;">░░</li>
      </ul>

      <ul class="Bank" style="--x: 1.6%; --y: 33.3%;">
        <li style="--a: 7deg;">░▒▒░</li>
      </ul>

      <ul class="Bank" style="--x: 7.8%; --y: 21.5%;">
        <li style="--a: -11deg;">░▒▒</li>
      </ul>
    </section>

    <section aria-hidden="true">
      <ul class="Water" style="--x: 15.6%; --y: 10%; --w: 24.8%; --a: -3deg;">
        <li style="--l: 10%; --r: 55%;">░░░░░░░░░░░▒▒▒▒▒▒▒░░░░</li>
        <li style="--l: 0%; --r: 0%;">░░░░░░░░░░░░░░░░▒▒▒▒▒░░░░░░▓░░░</li>
        <li style="--l: 28%; --r: 38%;">░░░░░░░</li>
      </ul>

      <ul class="Water" style="--x: 40.7%; --y: 26.7%; --w: 37.5%; --a: 1deg;">
        <li style="--l: 30%; --r: 2%;">░░░░░░░░░░░░░░░░░░░░░</li>
        <li style="--l: 10%; --r: 19%;">░░░░░░░░░░░▒▒▒▒▒▒▒░░░░</li>
        <li style="--l: 0%; --r: 0%;">░░░░░░░░░░░░░░░░▒▒▒▒▒░░░░░░▓░░░</li>
        <li style="--l: 20%; --r: 57%;">░░░░░░░</li>
      </ul>

      <ul class="Water" style="--x: 25%; --y: 46.2%; --w: 7.2%; --a: -8deg;">
        <li>░░░░░░</li>
      </ul>

      <ul class="Water" style="--x: 40.6%; --y: 56.5%; --w: 42%; --a: -1deg;">
        <li style="--l: 36%; --r: 0%;">░░░░░░░░░▓▓░░░░░░░░░░░░░░░</li>
        <li style="--l: 0%; --r: 14%;">░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░</li>
      </ul>

      <ul class="Water" style="--x: 61%; --y: 70.5%; --w: 4.9%; --a: 3deg;">
        <li>░░░░</li>
      </ul>
    </section>

    <section aria-hidden="true">
      <p class="Lily" style="--x: 26%; --y: 27%;">▖</p>
      <p class="Lily" style="--x: 80%; --y: 43%;">▗</p>
      <p class="Lily" style="--x: 39%; --y: 67%;">▘</p>
      <p class="Lily" style="--x: 19%; --y: 50%;">▝</p>
      <p class="Lily" style="--x: 42%; --y: 44%;">▞</p>
      <p class="Lily" style="--x: 50%; --y: 22%;">▚</p>
    </section>

    <section>
      <p class="Life Protozoa" style="--x: 83%; --y: 13%; --a: 8deg;">◬</p>
      <p class="Life Stentor" style="--x: 53.9%; --y: 53.8%;">◌</p>
      <p class="Life Ameoba" style="--x: 74.5%; --y: 67%; --a: 102deg;">◠</p>
      <p class="Life Daphnia" style="--x: 22%; --y: 62%; --a: 21deg;">◈</p>
    </section>
  </div>
</article>