---
layout: Page.liquid
section: home
title: with pondlife
description: welcome to the pondlife website
---

<article id="pond" class="Pond">
  <section aria-hidden="true">
    <ul class="Bank" style="--x: 42%; --y: 11%; --w: 14%; --a: -9deg;">
      <li style="--r: 62%;">░░░░░░░░▒░░</li>
      <li style="--l: 25%; --t: 6%; --a: 3deg;">░░░░░▒▒░░░░░░░░░▓░░░░░</li>
    </ul>

    <ul class="Bank" style="--x: 55%; --y: 26%; --a: -15deg;">
      <li>░░</li>
    </ul>

    <ul class="Bank" style="--x: 70%; --y: 36%; --w: 2.3rem; --a: 9deg;">
      <li>░░</li>
      <li style="--l: 74%; --t: 15%; --a: 21deg;">░</li>
    </ul>

    <ul class="Bank" style="--x: 72%; --y: 52%; --w: 5rem; --a: -2deg;">
      <li style="--l: 20%; --a: 7deg;">░░</li>
      <li style="--t: 4%; --r: 25%; --a: 3deg;">░░▒░░</li>
      <li style="--l: 70%; --t: 7%; --a: -45deg;">░</li>
    </ul>

    <ul class="Bank" style="--x: 65%; --y: 68%; --w: 4%;">
      <li style="--r: 30%; --a: -5deg;">▒░</li>
      <li style="--l: 30%; --t: 10%; --a: 5deg;">░░░</li>
    </ul>

    <ul class="Bank" style="--x: 43%; --y: 69%; --w: 6%;">
      <li style="--a: 5deg; --r: 20%;">░░▓░▒▒░░░░░</li>
      <li style="--l: 90%; --t: 10%; --a: -19deg;">░</li>
    </ul>

    <ul class="Bank" style="--x: 38%; --y: 74%; --w: 8%;">
      <li style="--a: -2deg;">░░░░░░░░▒░░</li>
    </ul>

    <ul class="Bank" style="--x: 29%; --y: 78%; --w: 5.8%; --a: 3deg;">
      <li style="--l: 30%;">░░░░░</li>
      <li style="--r: 15%; --t: 7%;">░▓░▒▒░░</li>
    </ul>

    <ul class="Bank" style="--x: 21%; --y: 49%; --w: 7.1%;">
      <li style="--a: -7deg;">░░░░░░░░░░▒▒</li>
    </ul>

    <ul class="Bank" style="--x: 23%; --y: 43%;">
      <li style="--a: -2deg;">░░</li>
    </ul>

    <ul class="Bank" style="--x: 23%; --y: 28%;">
      <li style="--a: -11deg;">░▒▒</li>
    </ul>

    <ul class="Bank" style="--x: 19%; --y: 37%;">
      <li style="--a: 7deg;">░▒▒░</li>
    </ul>
  </section>

  <section aria-hidden="true">
    <ul class="Water" style="--x: 28%; --y: 19%; --w: 16%; --a: -3deg;">
      <li style="--l: 10%; --r: 55%;">░░░░░░░░░░░▒▒▒▒▒▒▒░░░░</li>
      <li style="--l: 0%; --r: 0%;">░░░░░░░░░░░░░░░░▒▒▒▒▒░░░░░░▓░░░</li>
      <li style="--l: 28%; --r: 38%;">░░░░░░░</li>
    </ul>

    <ul class="Water" style="--x: 44%; --y: 32%; --w: 24%; --a: 1deg;">
      <li style="--l: 30%; --r: 2%;">░░░░░░░░░░░░░░░░░░░░░</li>
      <li style="--l: 10%; --r: 19%;">░░░░░░░░░░░▒▒▒▒▒▒▒░░░░</li>
      <li style="--l: 0%; --r: 0%;">░░░░░░░░░░░░░░░░▒▒▒▒▒░░░░░░▓░░░</li>
      <li style="--l: 20%; --r: 57%;">░░░░░░░</li>
    </ul>

    <ul class="Water" style="--x: 34%; --y: 47%; --w: 6%; --a: -8deg;">
      <li>░░░░░░</li>
    </ul>

    <ul class="Water" style="--x: 44%; --y: 55%; --w: 27%; --a: -1deg;">
      <li style="--l: 36%; --r: 0%;">░░░░░░░░░▓▓░░░░░░░░░░░░░░░</li>
      <li style="--l: 0%; --r: 14%;">░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░</li>
    </ul>

    <ul class="Water" style="--x: 57%; --y: 66%; --w: 6%; --a: 3deg;">
      <li>░░░░</li>
    </ul>
  </section>

  <section aria-hidden="true">
    <p class="Lily" style="--x: 35%; --y: 32%;">▖</p>
    <p class="Lily" style="--x: 69%; --y: 45%;">▗</p>
    <p class="Lily" style="--x: 43%; --y: 63%;">▘</p>
    <p class="Lily" style="--x: 30%; --y: 50%;">▝</p>
    <p class="Lily" style="--x: 45%; --y: 45%;">▞</p>
    <p class="Lily" style="--x: 50%; --y: 28%;">▚</p>
  </section>

  <section>
    <p class="Life Protozoa" style="--x: 71%; --y: 21%; --a: 8deg;">◬</p>
    <p class="Life Stentor" style="--x: 52.5%; --y: 53%;">◌</p>
    <p class="Life Ameoba" style="--x: 65.5%; --y: 63%; --a: 102deg;">◠</p>
    <p class="Life Daphnia" style="--x: 32%; --y: 59%; --a: 21deg;">◈</p>
  </section>
</article>