// -- resets --
@use "_includes/core" as *;
@use "_includes/home";

// -- globals --
html {
  height: 100%;
  font-size: 16px;
}

* {
  font-weight: inherit;
}

// -- Site --
.Site {
  height: 100%;
}

.Site-content {
  height: 100%;
}

// -- Loading --
.Loading {
  position: absolute;
}
